@import "tailwindcss";
@import "tw-animate-css";

@theme {
  /* ------------------------------
       COLORS
    ------------------------------- */
  /* --- Content / Paragraph Text Color --- */
  --color-text: #070707;

  /* --- Gradient Colors --- */
  --background-image-gradient-yellow-orange: linear-gradient(
    90deg,
    #ffd900,
    #ee7621
  );
  --background-image-gradient-yellow-pink: linear-gradient(
    90deg,
    #ffd900,
    #ff37b3
  );
  --background-image-gradient-orange-pink: linear-gradient(
    90deg,
    #f39b06 0%,
    #ec0d9c 50%
  );
  --background-image-gradient-pink-white: linear-gradient(
    90.16deg,
    #ff37b3 0.15%,
    #ffffff 85%
  );
  --background-image-gradient-pink-blue: linear-gradient(
    90.16deg,
    #ff37b3 0.15%,
    #3078ff 99.88%
  );
  --background-image-gradient-orange-yellow: linear-gradient(
    90.16deg,
    #f14a58 0.15%,
    #ee8d00 99.88%
  );
  --background-image-gradient-pink-orange: linear-gradient(
    90.16deg,
    #ff37b3 0.15%,
    #ee8d00 99.88%
  );

  /* ------------------------------
    FONT FAMILY
 ------------------------------- */
  --font-primary: "Onest", sans-serif;
}

@layer base {
  html {
    font-size: 62.5%;
  }

  body {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: var(--font-primary);
    line-height: 1.6;
  }
}

@layer components {
  .container {
    max-width: 120rem !important;
    width: 100%;
    margin-inline: auto;
  }

  /* Header */
  .header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7.6rem;
    width: 100%;
    border-radius: 3.8rem;
    backdrop-filter: blur(20px);
    transition: all 0.3s ease;

    & .nav-link {
      font-size: 1.6rem;
      line-height: 2.4rem;
      font-weight: 500;
    }

    & .nav-dropdown {
      & span {
        font-size: 1.6rem;
        line-height: 2.4rem;
        font-weight: 500;
        letter-spacing: normal;
      }
    }

    & .nav-btn {
      height: 4rem;
      margin-right: 3.5rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 20rem;
      border: 1px solid #ffffff33;
      background-color: #dbd5dd1a;
      padding: 1rem 2rem;
      font-size: 1.6rem;
      line-height: 2.4rem;
      font-weight: 700;
      letter-spacing: normal;
      text-align: center;
      transition: all 0.3s ease;

      &:hover {
        background-color: #ffffff;
        color: #312749;
      }
    }
  }

  .header-primary {
    background-color: #ffffff2e;
    border: 1px solid transparent;

    & .logo {
      fill: #ffffff;
    }

    & .nav-link {
      color: #ffffff;
    }

    & .nav-dropdown {
      & span {
        color: #ffffff;
      }

      & i {
        stroke: #ffffff;
      }
    }

    & .nav-btn {
      color: #ffffff;
    }
  }

  .header-secondary,
  .sticky-header {
    background-color: #ffffff;
    border: 1px solid #e8e0eb;
    box-shadow: 4px 8px 36px 0px #0000001f;

    & .logo {
      fill: #312749;
    }

    & .nav-link {
      color: #312749;
    }

    & .nav-dropdown {
      & span {
        color: #312749;
      }

      & i {
        stroke: #312749;
      }
    }

    & .nav-btn {
      color: #312749;
    }
  }

  /* Header Responsiveness */
  @media (max-width: 1279px) {
    .header-container {
      justify-content: space-between;
      padding-inline: 1.2rem;

      & .nav-btn {
        margin-right: 0rem;
      }
    }
  }

  @media (max-width: 767px) {
    .header-container {
      height: 5.1rem;

      & .nav-btn {
        height: 3.2rem;
        font-size: 1.2rem;
      }
    }
  }

  /*Gradient Button*/
  .gradient-button .text-span {
    height: 5rem;
    padding: 1rem 3rem;
    border-radius: 6rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0;
    font-weight: 600;
    color: #ffffff;
    overflow: hidden;
    position: relative;

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background: var(--background-image-gradient-yellow-pink);
      -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      padding: 2px; /* border thickness */
      border-radius: 6rem;
      z-index: 2;
    }
  }

  /* Gradient Button Responsiveness */
  @media (max-width: 767px) {
    .gradient-button .text-span {
      height: 4rem;
      font-size: 1.4rem;
    }
  }

  /* Contact Hero Card */
  .contact-hero-card {
    height: 29.5rem;
    width: 37.8rem;
    border-radius: 1.6rem;
    background: #ffffff26;
    position: relative;

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background: linear-gradient(
        149.03deg,
        rgba(255, 255, 255, 0.6) 0%,
        rgba(255, 255, 255, 0) 51.06%,
        rgba(255, 255, 255, 0.6) 98.34%
      );
      -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      padding: 1px; /* border thickness */
      border-radius: 1.6rem;
      z-index: 2;
    }
  }

  /* Process Card */
  .process-card {
    height: 27.7rem;
    width: 21.9rem;
    border-radius: 1.6rem;
    background: #ffffff26;
    position: relative;

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background: linear-gradient(
        149.03deg,
        rgba(255, 255, 255, 0.6) 0%,
        rgba(255, 255, 255, 0) 51.06%,
        rgba(255, 255, 255, 0.6) 98.34%
      );
      -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      padding: 1px; /* border thickness */
      border-radius: 1.6rem;
      z-index: 2;
    }
  }

  /* About Hero Card */
  .about-hero-card {
    height: 28.2rem;
    width: 28.2rem;
    border-radius: 3.4rem;
    position: relative;
    backdrop-filter: blur(3rem);

    &:nth-of-type(1) {
      background:
        linear-gradient(
          0deg,
          rgba(255, 255, 255, 0.15),
          rgba(255, 255, 255, 0.15)
        ),
        linear-gradient(
          225deg,
          rgba(255, 55, 179, 0.85) 52.17%,
          rgba(255, 55, 179, 0) 108.51%
        );
    }

    &:nth-of-type(2) {
      background:
        linear-gradient(
          0deg,
          rgba(255, 255, 255, 0.15),
          rgba(255, 255, 255, 0.15)
        ),
        linear-gradient(
          225deg,
          rgba(238, 118, 33, 0.85) 52.17%,
          rgba(238, 118, 33, 0) 108.51%
        );
    }

    &:nth-of-type(3) {
      background:
        linear-gradient(
          0deg,
          rgba(255, 255, 255, 0.15),
          rgba(255, 255, 255, 0.15)
        ),
        linear-gradient(
          225deg,
          rgba(48, 120, 255, 0.85) 52.17%,
          rgba(48, 120, 255, 0) 108.51%
        );
    }

    &:nth-of-type(4) {
      background:
        linear-gradient(
          0deg,
          rgba(255, 255, 255, 0.15),
          rgba(255, 255, 255, 0.15)
        ),
        linear-gradient(
          225deg,
          rgba(241, 74, 88, 0.85) 52.17%,
          rgba(241, 74, 88, 0) 108.51%
        );
    }

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background: linear-gradient(
        149.03deg,
        rgba(255, 255, 255, 0.6) 0%,
        rgba(255, 255, 255, 0) 51.06%,
        rgba(255, 255, 255, 0.6) 98.34%
      );
      -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      padding: 1px; /* border thickness */
      border-radius: 3.4rem;
      z-index: 2;
    }
  }

  /* Growth 2 Card */
  .growth-2-card {
    height: 27.4rem;
    width: 100%;
    border-radius: 3rem;
    background: #ffffff26;
    position: relative;

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background: linear-gradient(
        149.03deg,
        rgba(255, 255, 255, 0.6) 0%,
        rgba(255, 255, 255, 0) 51.06%,
        rgba(255, 255, 255, 0.6) 98.34%
      );
      -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      padding: 1px; /* border thickness */
      border-radius: 3rem;
      z-index: 2;
    }
  }

  /* Partner With Us 2 Card */
  .partner-with-us-2-card {
    height: 31.3rem;
    width: 100%;
    border-radius: 1.6rem;
    background: #ffffff26;
    position: relative;

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background: linear-gradient(
        149.03deg,
        rgba(255, 255, 255, 0.6) 0%,
        rgba(255, 255, 255, 0) 51.06%,
        rgba(255, 255, 255, 0.6) 98.34%
      );
      -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      padding: 1px; /* border thickness */
      border-radius: 1.6rem;
      z-index: 2;
    }
  }

  /* Swiper */
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px !important;
  }

  .swiper-pagination-bullet {
    background-color: transparent !important;
    border: 1px solid #ff37b3 !important;
    width: 1.2rem !important;
    height: 1.2rem !important;
    opacity: 1 !important;
    margin-inline: 0rem !important;
  }

  .swiper-pagination-bullet-active {
    background-color: #ff37b3 !important;
  }
}
